colgroup{
  --socialBlue: #5299d3;
  --socialRed: #ff5252;
}

#event-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 1rem;
  box-shadow: 0 0.5rem 1rem 0.1rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

#event-container span {
  margin: 0 2rem 2rem 2rem;
  text-align: center;
  overflow-y: auto;
}

#event-container p {
  text-align: justify;
}

#event-container span button {
  cursor: pointer;
  width: 100%;
  background-color: #29a129;
  color: white;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  transition-duration: 0.2s;
}

#event-container span button:hover {
  background-color: #199119;
}

#event-container img {
  width: 100%;
  height: 0;
  border-radius: 1rem;
  object-fit: cover;
}

#event-container input[type="checkbox"]:checked + button {
  background-color: #5299d3;
}

#event-container input[type="checkbox"]:checked + button:hover {
  background-color: #4289c3;
}

#tags {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.tag {
  cursor: pointer;
  background-color: rgb(238, 246, 255);
  border: 1px solid rgb(187, 223, 255);
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
  transition-duration: 0.2s;
}

.tag:hover {
  padding: 0.5rem 1rem;
  background-color: rgb(231, 242, 255);
}

#links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

#links img {
  width: 3rem;
  height: 3rem;
  transition-duration: 0.2s;
}

#links img:hover {
  transform: scale(1.2);
}

#links button {
  cursor: pointer;
  height: fit-content;
  background-color: #5299d3;
  color: white;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  transition-duration: 0.2s;
}

#links button:hover {
  background-color: #4289c3;
}
