#slideshow-container {
    position: relative;
    margin: auto;
  }

.slideshow {
  max-height: 30rem;
  display: none;
}

#slideshow-container img {
  max-height: 30rem;
  object-fit: cover;
  width: 100%;
}

#slide-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  height: 0;
  width: 100%;
}

#slide-prev, #slide-next {
  cursor: pointer;
  padding: 1rem;
  color: white;
  font-weight: bold;
  transition-duration: 0.2s;
  border-radius: 0 0.5rem 0.5rem 0;
  user-select: none;
  background-color: rgba(0,0,0,0.2);
}

#slide-next {
  right: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}

#slide-prev:hover, #slide-next:hover {
  background-color: rgba(0,0,0,0.6);
}

.slide-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  height: 0;
  width: 100%;
}

.slide-text {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  padding: 2rem;
  min-width: 20rem;
  max-width: 80%;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.2s;
}

.slide-text:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px 4px rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide-text h1 {
  margin-top: 0;
  overflow: clip;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.slide-text a {
  text-decoration: none;
}

#slideshow-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}