<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Profile</title>
    <link rel = "stylesheet" href={% static 'core/style.css' %} />
    <script src={% static 'core/script.js'%}></script> 

</head>
<body>
    <header><a href={% url 'index' %}><img src={% static 'core/logo.png' %} style="width:50px;height: auto"></a><hr></header>

    <h1><center>Profile</h1>
    <img src={% static 'core/user.jpg' %} style="width: 200px;height: auto;">
    <h2><center>Username</h2>
    <hr>
    <a href={% url 'create' %}><center>Create Event</a>
    <hr>
    <h2><center>My Events</h2>
    <table>
        <tr>
          <th><a href={% url 'event' %}><img src={% static 'core/fireworks.jpg' %} style="width:500px;height: auto;"><p>Example event</p></a></th>
          <th><a href={% url 'event' %}><img src={% static 'core/fireworks.jpg' %} style="width:500px;height: auto;"><p>Example event</p></a></th>
          <th><a href={% url 'event' %}><img src={% static 'core/fireworks.jpg' %} style="width:500px;height: auto;"><p>Example event</p></a></th>
        </tr>
    </table>
    <hr>
    <h2>Friends' Events</h2>
    <table>
        <tr>
          <th><a href={% url 'event' %}><img src={% static 'core/fireworks.jpg' %} style="width:500px;height: auto;"><p>Example event</p></a></th>
          <th><a href={% url 'event' %}><img src={% static 'core/fireworks.jpg' %} style="width:500px;height: auto;"><p>Example event</p></a></th>
          <th><a href={% url 'event' %}><img src={% static 'core/fireworks.jpg' %} style="width:500px;height: auto;"><p>Example event</p></a></th>
        </tr>
    </table>
</body>
</html>