{% extends "core/base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}
{% block imports %}
<link rel="stylesheet" href={% static 'core/charles.css' %} />
<link rel="stylesheet" href={% static 'core/card.css' %} />
<link rel="stylesheet" href={% static 'core/account.css' %} />
{% endblock %}

{% block content %}
<h1>Profile</h1>

{% if user.profile.img.url %}
<img id="profile-pic" src="{{ user.profile.img.url }}">
{% else %}
<img id="profile-pic" src={% static 'core/user.jpg' %}>
{% endif %}

<div class="content-section">
  <form method="POST" enctype="multipart/form-data" class="card">
    {% csrf_token %}
    <h2>Update Profile</h2>
    {{ update_form }}
    {{ profile_form }}
    <button type="submit">Update</button>
  </form>

  <div id="tabs" class="card">
    <!-- Tab links -->
    <div id="tablinks-container">
      <button id="search-tab" class="tablinks active">Search</button>
      <button id="friends-tab" class="tablinks">Friends</button>
      <button id="requests-tab" class="tablinks">Requests</button>
    </div>

    <!-- Tab content -->
    <div id="friends" class="tabcontent" style="display:none">
      {% for user in friends %}
      {% if not user.is_superuser %}
      {% if not user == request.user %}
      <span>{{ user }}</span>
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>

    <div id="search" class="tabcontent" id="defaultOpen">
      <form method="get">
        {{ friend_filter.form }}
      </form>

      <div>
        {% for user in allusers %}
        {% if not user.is_superuser %}
        {% if not user == request.user %}
        {% if not user in friends %}
        <div>
          <span>{{user.username}}</span>
          <a href="/send_friend_request/{{ user.id }}/">Request</a>
        </div>
        {% else %}
        <div>
          <span>{{user.username}}</span>
          <span>Friend</span>
        </div>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
        </table>
      </div>
    </div>

    <div id="requests" class="tabcontent" style="display:none">
      {% if allrequests|length != 0 %}
      {% for friend_request in allrequests %}
      {% if friend_request.from_user != request.user %}
      <div>
        <span>{{ friend_request.from_user }}</span>
        <span>
          <a href="/accept_friend_request/{{friend_request.id}}/">Accept</a><br>
          <a href="/decline_friend_request/{{friend_request.id}}/">Decline</a>
        </span>
    </div>
      {% endif %}
      {% endfor %}
      {% else %}
      <p>No Requests</p>
      {% endif %}
    </div>
  </div>
</div>

<h1>Your Events</h1>
{% if not userEvents %}
<p>Silly you! You haven't registered interest in any events! Go and explore!</p>
{% else %}
<div id="events-container">
  {% for event in userEvents %}
  <div class="card" data-link="/event/{{ event.id }}/">
    <img src={{ event.image.url }} style="width:100%">
    <div>
      <h3>{{ event.title }}</h6>
        <p>{{ event.datetime }}</p>
        <p>
          {{ event.street }},
          {{ event.area }},
          {{ event.city }}
        </p>
        <p>{{ event.desc }}</p>

        <div id="tags">
          {% for tag in event.tags %}
          <div class="tag">{{ tag }}</div>
          {% endfor %}
        </div>

        <p>Interested: {{ event.attendance }}</p>

        <a href="/event/{{ event.id }}/">Find out more...</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

<h1>Friend's Events</h1>
{% if not firendsEvents %}
<p>Awww! Looks like your friends are basement dwellers! If you even have any!</p>
{% else %}
<div id="events-container">
  {% for event in friendEvents %}
  <div class="card" data-link="/event/{{ event.id }}/">
    <img src={{ event.image.url }} style="width:100%">
    <div>
      <h3>{{ event.title }}</h6>
        <p>{{ event.datetime }}</p>
        <p>
          {{ event.street }},
          {{ event.area }},
          {{ event.city }}
        </p>
        <p>{{ event.desc }}</p>

        <div id="tags">
          {% for tag in event.tags %}
          <div class="tag">{{ tag }}</div>
          {% endfor %}
        </div>

        <p>Interested: {{ event.attendance }}</p>

        <a href="/event/{{ event.id }}/">Find out more...</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

<script src={% static 'core/account.js' %}></script>
<script src={% static 'core/card.js' %}></script>
{% endblock %}