<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Create Event</title>
</head>
<body>
    <header><a href={% url 'index' %}><img src={% static 'core/logo.png' %} style="width:50px;height: auto"></a><hr></header>

    <h1>Create Event</h1>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Preview</button>
        <!-- <input type="submit" id="preview" name="preview" value="preview"> -->
    </form>

</body>
</html>