<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="style.css" />
    <script src="https://kit.fontawesome.com/89e830680d.js" crossorigin="anonymous"></script>
    {% load static %}
    <title>Example Event</title>
</head>
<script></script>    
<body>
    <header>
        <form action="login.html">
            <a href={% url 'index' %}><img src={% static 'core/logo.png' %} style="width:50px;height: auto"></a>
           
            <div class="search-box">
                <input class="search-text" type="text" name=="" placeholder="Search events">
                <a class="search-button" href="#">
            <i class="fa-solid fa-magnifying-glass"></i>

                </a>


            </div>
            


            <input type="submit" id="login" name="login" value="log in">
        </form>
        <hr>
    </header>

    <table>
        <tr>
            <th>
                <img src={% static 'core/fireworks2.jpg' %}>
            </th>
            <th>
                <h1>event title</h1>
                <p>a longer paragraph all about the event</p>
                <button>Register interest</button>
            </th>
        </tr>
    </table>
    <hr>
        
    <a href="http://facebook.com"><img src={% static 'core/facebook.png' %} style="width:64px;height: 64px;"/> </a>
    <a href="http://instagram.com"><img src={% static 'core/instagram.png' %} style="width:64px;height: 64px;"/> </a>
    <a href="http://discord.com"><img src={% static 'core/discord.png' %} style="width:64px;height: 64px;"/> </a>
    
    <hr>
    <p>An even longer paragraph about all the details that the organiser wants to share</p>
    <hr>
    <p>List of tags associated with event</p>
    <hr>
    <h2>More events</h2>
    <table>
        <tr>
          <th><a href={% url 'event' %}><img src={% static 'core/fireworks.jpg' %} style="width:500px;height: auto;"><p>Example event</p></a></th>
          <th><a href={% url 'event' %}><img src={% static 'core/fireworks.jpg' %} style="width:500px;height: auto;"><p>Example event</p></a></th>
          <th><a href={% url 'event' %}><img src={% static 'core/fireworks.jpg' %} style="width:500px;height: auto;"><p>Example event</p></a></th>
        </tr>
    </table>

</body>
</html>