{% extends "core/base.html" %}
{% load static %}

{% block title %}{{ event.title }}{% endblock %}
{% block imports %}
<link rel="stylesheet" href={% static 'core/event.css' %} />
{% endblock %}

{% block content %}
<div id="event-container">
    <img src={{ event.image.url }} id="event-img">
    <span>
        <h1>{{ event.title }}</h1>
        <h3>{{ event.datetime }}</h3>
        <h5>
            {{ event.street }}
            {{ event.area }}
            {{ event.city }}
        </h5>

        <div id="tags">
            {% for tag in event.tags %}
            <div class="tag"># {{ tag }}</div>
            {% endfor %}
            {% comment %} Example data {% endcomment %}
            <div class="tag"># tag1</div>
            <div class="tag"># tag2</div>
            <div class="tag"># longer_tag</div>
            <div class="tag"># wheeeee</div>
            <div class="tag"># idk_anymore</div>
            <div class="tag"># idk_anymore</div>
            <div class="tag"># idk_anymore</div>
            <div class="tag"># idk_anymore</div>
            <div class="tag"># idk_anymore</div>
        </div>

        <p>{{ event.desc }}</p>

        {% if event.ticket %}
        <p><a href="{{ event.ticket }}">Get tickets here</a></p>
        {% endif %}

        <p>Interested: {{ event.attendance }}</p>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input id="interested" type="checkbox" name="interested" hidden checked/>
            <button id="interest-button" type="submit">Register interest</button>
        </form>
    </span>
</div>

<div id="links">
    <a href={{ event.facebook }}><img src={% static 'core/facebook.png' %}></a>
    <a href={{ event.instagram }}><img src={% static 'core/instagram.png' %}></a>
    <a href={{ event.discord }}><img src={% static 'core/discord.png' %}></a>
    <button id="copy-button">Copy Link</button>
</div>

<script src={% static 'core/event.js' %}></script>
{% endblock %}