<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
</head>
<body>
<!--
    <ul class="all_users">
        {% for user in allusers %}
            {% if not user.is_superuser %}
                {% if user not in request.user.friends.all and user != request.user %}
                    <h1>{{user.username}} <a href = "/send_friend_request/{{ user.id }}/">Send Friend Request</a></h1>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
-->
    <h2 class="result passed">{{ result }}</h2>

    <script>
    setTimeout(function(){
                window.location.href = '/account';
             }, 1000);
    </script>

</body>
</html>