{% extends "core/base.html" %}
{% load static %}

{% block imports %}
<link rel="stylesheet" href={% static 'core/slideshow.css' %} />
<link rel="stylesheet" href={% static 'core/card.css' %} />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block head_scripts %}
<script>
    $(document).ready(function () {
        // Slideshow
        let slide_index = 0;
        slide_index = showSlide(slide_index);

        $(".slide-next").click(function () {
            slide_index = showSlide(slide_index + 1);
        });

        $(".slide-prev").click(function () {
            slide_index = showSlide(slide_index - 1);
        });
    });

    function showSlide(n) {
        let slide_index = n;
        if (n >= $(".slideshow").length) {
            slide_index = 0;
        }
        if (n < 0) {
            slide_index = $(".slideshow").length - 1;
        }
        $(".slideshow").css("display", "none");
        $(`#slide${slide_index + 1}`).css("display", "block").addClass("active")
        return slide_index;
    }
</script>
{% endblock %}

{% block content %}
<div id="slideshow-container">
    {% for event in event_list %}
    {% if forloop.counter <= 5 %} <div class="slideshow fade" id="slide{{ forloop.counter }}">
        <img src={{ event.image.url }}>
        <div class="slide-text-container">
            <div class="slide-text">
                <h1>{{ event.title }}</h1>
                <a href="event/1">Find out more...</a>
            </div>
        </div>
</div>
{% endif %}
{% endfor %}

<div class="slide-button-container">
    <a class="slide-prev">&#10094;</a>
    <a class="slide-next">&#10095;</a>
</div>
</div>

<form>
    <input type="text" id="search-body" name="search-body" placeholder="Search...">
    <input type="button" id="login" name="login" value="Sort by"></br>
    <input type="text" id="filter" name="filter" placeholder="Filter...">
</form>

<div id="events-container">
    {% for event in page_obj %}
    <div id="event{{ forloop.counter }}" class="card">
        <img src={{ event.image.url }} style="width:100%">
        <div>
            <h3>{{ event.title }}</h6>
                <p>{{ event.datetime }}</p>
                <p>{{ event.street }}</p>
                <p>{{ event.desc }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}