{% extends "core/base.html" %}
{% load static %}

{% block title %}Log In{% endblock %}
{% block imports %}
<link rel="stylesheet" href={% static 'core/style.css' %} />
{% endblock %}

<!-- Overrides header -->
{% block search %}{% endblock %}

{% block content %}
<h1>Log In</h1>
<form method="post">
    <!--
        <input type="text" id="email" name="email" placeholder="email"><br>
        <input type="text" id="psswd" name="psswd" placeholder="Password"><br>
        -->
    {% csrf_token %}
    {{ form.as_p }}
    <a href={% url 'signup' %}>Create account</a> <a href={% url 'index' %}>Continue as guest</a><br>
    <button type="submit">Login</button>
    <!-- <input type="submit" id="login" name="login" value="log in"> -->
</form>
<script src="https://unpkg.com/vue@3"></script>
{% endblock %}