<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel = "stylesheet" href={% static 'core/style.css' %} /> 
    <title>Log in</title>
</head>
<body>

<header><a href={% url 'index' %}><img src={% static 'core/logo.png' %} style="width:50px;height: auto"></a><hr></header>

    <div class="border">
            <h1>Log In</h1>
            <form>

                <label>Username: </label>
                <input type="text" id="username" name="username" placeholder="Username">
                <label>Password: </label>
                <input type="text" id="password" name="password" placeholder="Password">
                <p>
                    <a href={% url 'signup' %}>
                        <input type="button" value="Sign Up">
                    </a>
                    <a href={% url 'index' %}>
                        <input type="button" value="Log In" onclick="alert('You have successfully logged in')">
                    </a>
                </p>
                
            </form>

    </div>

    <script src="https://unpkg.com/vue@3"></script>

</body>
</html>
