<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="style.css" />
    <title>Log in</title>
</head>
<body>

    <div class="border">
            <h1>Log In</h1>
            <form>

                <label>Username: </label>
                <input type="text" placeholder="Username">
                <label>Password: </label>
                <input type="text" placeholder="Password">
                <p>
                    <input type="button" value="Sign Up">
                    <input type="button" value="Log In">
                </p>
                
            </form>

    </div>

    <script src="https://unpkg.com/vue@3"></script>

</body>
</html>